password_vault.db
__pycache__/datebase.cpython-310.pyc
__pycache__/hash.cpython-310.pyc
__pycache__/popUp.cpython-310.pyc
__pycache__/loginScreen.cpython-310.pyc
__pycache__/firstScreen.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/recovery.cpython-310.pyc
